<nav class="z-depth-0 grey">
	<a href="#!"class="brand-logo">Weather Forcast</a>
	<a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	<ul class="right hide-on-med-and-down">
		<li><a href="#!">Home</a></li>
		<li><a href="#!">Stations</a></li>
		<li><a href="/api">API</a></li>
	</ul>
</nav>
